*.pyc
*venv/
__pycache__/

.ipynb_checkpoints/
.env

.DS_Store
.idea/
.vscode/

*.log
*.bak
*.tmp
*.swp
*.swo

*.zip
*.JPG
*.jpg
*.jpeg
PlantVillage.zip
PlantVillage/*

CLAUDE.md

cache/
cache/*.pkl
.atl/

